<md-dialog aria-label="Mango (Fruit)" style="max-width: 100%; max-height: 100%; width:100%; height:100%; ">

    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{progr.classe.code}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content >
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Nouvelle progression">
          <md-content class="md-padding">
              
                    <form ng-cloak name="progressionForm">
                        <md-dialog-content>
                            <div class="md-dialog-content gap-1" layout="column">
                                <div>
                                    <label class="demo-radio-button-label">Cible de la progression</label>
                                    <md-radio-group layout="row" ng-model="progression.target" ng-disabled='true'>
                                        <md-radio-button value="CM">Cours Magistral</md-radio-button>
                                        <md-radio-button value="TD">Travail Dirige</md-radio-button>
                                        <md-radio-button value="TP">Travail Pratique</md-radio-button>
                                        <md-radio-button value="CC">Contrôle continnue</md-radio-button>
                                        <md-radio-button value="EXAM">Examen</md-radio-button>
                                        <md-radio-button value="STAGE">Stage</md-radio-button>
                                        <md-radio-button value="ECN">ECN</md-radio-button>
                                    </md-radio-group>
                                </div>
                                <div layout-gt-sm="row">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label for="date">Date</label>
                                        <input type="date" name="date" ng-model="progression.date" id="date" ng-disabled='true' required/>
                                        <div ng-messages="progressionForm.date.$error" multiple md-auto-hide="true">
                                            <div ng-message="required">Ce champ est requis !</div>
                                        </div>
                                    </md-input-container>

                                    <md-input-container flex="100">
                                        <label>Heure de début</label>
                                        <md-select  name="startingTime" ng-model="progression.start_time" 
                                                   ng-required="true"
                                                   md-no-asterisk>
                                          <md-option ng-disabled="true"><em>---Choix de l'heure de debut---</em></md-option>

                                          <md-option  ng-value="time" ng-repeat="time in times" > {{time.name}} </md-option>

                                        </md-select>
                                        <div class="errors" ng-messages="examForm.startingTime.$error">
                                          <div ng-message="required">Champ obligatoire</div>
                                        </div>
                                    </md-input-container>                                    

                                    <md-input-container flex="100">
                                        <label>Heure de fin</label>
                                        <md-select  name="endingTime" ng-model="progression.end_time" 
                                                   ng-required="true"
                                                   md-no-asterisk>
                                          <md-option ng-disabled="true"><em>---Choix de l'heure de fin---</em></md-option>

                                          <md-option  ng-value="time" ng-repeat="time in times" > {{time.name}} </md-option>

                                        </md-select>
                                        <div class="errors" ng-messages="examForm.endingTime.$error">
                                          <div ng-message="required">Champ obligatoire</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div>
                                    <md-input-container class="md-block">
                                        <label for="description">Desciption</label>
                                        <textarea id="description" name="desciption" style='background-color: #fff'
                                              rows="5"
                                              placeholder="Entrez le resume de la seance ici"
                                              ng-model="progression.description" required maxlength="500"></textarea>
                                        <div ng-messages="progression.description.$error" multiple md-auto-hide="true">
                                            <div ng-message="required">La description est requise !</div>
                                            <div ng-message="md-maxlength">La description doit avoir au plus 500 caracteres</div>
                                        </div>
                                    </md-input-container>
                                </div>
                            </div>
                        </md-dialog-content>

                        <md-dialog-actions layout="row">
                            <md-button type="button" class="warn" ng-click="cancel()">
                                Annuler
                            </md-button>
                            <md-button ng-if="!isProcessing" ng-disabled="progressionForm.$invalid" class="md-primary" type="submit" ng-click="saveProgression(progressionForm)">
                                Enregistrer
                            </md-button>
                            <md-button aria-label="loader" ng-if="isProcessing" layout="row" layout-align="center"
                                       style="align-items: center" type="button" class="md-primary" disabled="">
                                <md-progress-circular class="md-accent md-hue-1" md-diameter="15"></md-progress-circular>
                            </md-button>
                        </md-dialog-actions>
                    </form>
           
            
            
            
            
            
            
            
            
          </md-content>
        </md-tab>
        <md-tab label="Gestion des présences">
          <md-content class="md-padding">
            <h1 class="md-display-2">Tab Two</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus. Vivamus convallis sodales ante varius gravida. Curabitur a purus vel augue ultrices ultricies id a nisl. Nullam malesuada consequat diam, a facilisis tortor volutpat et. Sed urna dolor, aliquet vitae posuere vulputate, euismod ac lorem. Sed felis risus, pulvinar at interdum quis, vehicula sed odio. Phasellus in enim venenatis, iaculis tortor eu, bibendum ante. Donec ac tellus dictum neque volutpat blandit. Praesent efficitur faucibus risus, ac auctor purus porttitor vitae. Phasellus ornare dui nec orci posuere, nec luctus mauris semper.</p>
            <p>Morbi viverra, ante vel aliquet tincidunt, leo dolor pharetra quam, at semper massa orci nec magna. Donec posuere nec sapien sed laoreet. Etiam cursus nunc in condimentum facilisis. Etiam in tempor tortor. Vivamus faucibus egestas enim, at convallis diam pulvinar vel. Cras ac orci eget nisi maximus cursus. Nunc urna libero, viverra sit amet nisl at, hendrerit tempor turpis. Maecenas facilisis convallis mi vel tempor. Nullam vitae nunc leo. Cras sed nisl consectetur, rhoncus sapien sit amet, tempus sapien.</p>
            <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
          </md-content>
        </md-tab>
        <md-tab label="three">
          <md-content class="md-padding">
            <h1 class="md-display-2">Tab Three</h1>
            <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
          </md-content>
        </md-tab>
      </md-tabs>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button   md-autofocus>
        &nbsp;
      </md-button>
      <span flex></span>

    </md-dialog-actions>

</md-dialog>

