<md-dialog aria-label="Mango (Fruit)" style="max-width: 100%; max-height: 100%; width:100%; height:100%; ">

    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{progr.classe.code}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content >
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Nouvelle progression">
          <md-content class="md-padding" style="margin-top: 50px; margin-left: 10%; margin-right: 10%; border-color: blue;">
              
                    <form ng-cloak name="progressionForm">
                        <md-dialog-content>
                            <div class="md-dialog-content gap-1" layout="column">
                                <div>
                                    <label class="demo-radio-button-label">Cible de la progression</label>
                                    <md-radio-group layout="row" ng-model="progression.target" ng-disabled='true'>
                                        <md-radio-button value="CM">Cours Magistral</md-radio-button>
                                        <md-radio-button value="TD">Travail Dirige</md-radio-button>
                                        <md-radio-button value="TP">Travail Pratique</md-radio-button>
                                        <md-radio-button value="CC">Contrôle continnue</md-radio-button>
                                        <md-radio-button value="EXAM">Examen</md-radio-button>
                                        <md-radio-button value="STAGE">Stage</md-radio-button>
                                        <md-radio-button value="ECN">ECN</md-radio-button>
                                    </md-radio-group>
                                </div>
                                <div layout-gt-sm="row">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label for="date">Date</label>
                                        <input type="date" name="date" ng-model="progression.date" id="date" ng-disabled='true' required/>
                                        <div ng-messages="progressionForm.date.$error" multiple md-auto-hide="true">
                                            <div ng-message="required">Ce champ est requis !</div>
                                        </div>
                                    </md-input-container>

                                    <md-input-container flex="100">
                                        <label>Heure de début</label>
                                        <md-select  name="startingTime" ng-model="progression.start_time" 
                                                   ng-required="true"
                                                   md-no-asterisk>
                                          <md-option ng-disabled="true"><em>---Choix de l'heure de debut---</em></md-option>

                                          <md-option  ng-value="time" ng-repeat="time in times" > {{time.name}} </md-option>

                                        </md-select>
                                        <div class="errors" ng-messages="examForm.startingTime.$error">
                                          <div ng-message="required">Champ obligatoire</div>
                                        </div>
                                    </md-input-container>                                    

                                    <md-input-container flex="100">
                                        <label>Heure de fin</label>
                                        <md-select  name="endingTime" ng-model="progression.end_time" 
                                                   ng-required="true"
                                                   md-no-asterisk>
                                          <md-option ng-disabled="true"><em>---Choix de l'heure de fin---</em></md-option>

                                          <md-option  ng-value="time" ng-repeat="time in times" > {{time.name}} </md-option>

                                        </md-select>
                                        <div class="errors" ng-messages="examForm.endingTime.$error">
                                          <div ng-message="required">Champ obligatoire</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div>
                                    <md-input-container class="md-block">
                                        <label for="description">Desciption</label>
                                        <textarea id="description" name="desciption" style='background-color: #fff'
                                              rows="2"
                                              placeholder="Entrez le resume de la seance ici"
                                              ng-model="progression.description" required maxlength="500"></textarea>
                                        <div ng-messages="progression.description.$error" multiple md-auto-hide="true">
                                            <div ng-message="required">La description est requise !</div>
                                            <div ng-message="md-maxlength">La description doit avoir au plus 500 caracteres</div>
                                        </div>
                                    </md-input-container>
                                </div>
                            </div>
                            
                            
                            <div class="row" ng-init='loadStudentAdmittedToclasse(progr.classe.code)'>
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a href=""> Liste de présence au cours  <span style='font-weight: bold; color: red;'>{{$ctrl.selectedUe.code}} [{{$ctrl.selectedSubject.subjectCode}}] </span> &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i title='Ajouter des étudiants' style="color:lightgrey;  font-size: 22px; cursor: pointer;" class="fa fa-pencil-square-o"   ng-click="$ctrl.addStdToSubject()"></i></a></li>



                                            <div class="pull-right" style="color:lightgrey; margin-left: 10px; margin-right: 2px; margin-top: 10px; ">
                                                            <div class="btn-group">
                                                                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                                                   --- Actions ---
                                                                    <span class="caret"></span>
                                                                </button>
                                                                <ul class="dropdown-menu pull-right" role="menu">
                                                                    <li><a href="" ng-click="$ctrl.printNotes()"><span>Imprimer la liste</span></a>
                                                                    </li>
                                                                    <li><a href="" ng-click="saveChoices($ctrl.registeredStd)"><span>Enregistrer</span></a>
                                                                    </li>
                                                                    <!--<li><a href="" ng-click="$ctrl.clotureCalculNotes($ctrl.selectedUe.ue_class_id)"><span>Imprimer liste étudiants</span></a>
                                                                    </li> -->
                                                                </ul>
                                                            </div>
                                            </div>                            
                                            <li class="active" style="color:lightgrey; margin-top: 10px;float: right;" >
                                            <md-checkbox class="md-primary" aria-label="Select All"
                                                ng-checked="isChecked()"
                                                md-indeterminate="isIndeterminate()"
                                                ng-click="toggleAll()">
                                                <span ng-if="isChecked()"></span>Tout Selctionner

                                            </md-checkbox>

                                        </li>
                                    </ul>

                                                        <table class="table table-striped table-condensed md-padding" style="border-collapse: collapse;">
                                                            <thead>
                                                                <tr class="bg-primary">
                                                                    <th>Num</th>
                                                                    <th>Matricule</th>
                                                                    <th>Nom</th>
                                                                    <th >Prenom</th>
                                                                    <th >Présence</th>


                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="std in items">
                                                                    <td ng-bind="{{$index+1}}"></td>
                                                                    <td ng-bind="std.matricule"></td>
                                                                    <td ng-bind="std.nom"></td>
                                                                    <td ng-bind="std.prenom"></td>

                                                                    <td >  
                                                                        <md-checkbox     aria-label="Checkbox" 
                                                                            ng-true-value="true" ng-true-value="false"
                                                                            ng-checked="exists(std, selected)"  ng-click="toggle(std, selected)"                 
                                                                            class="md-primary">

                                                                        </md-checkbox>  

                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                 </div>                            
                        </md-dialog-content>

                        <md-dialog-actions layout="row">
                            <md-button type="button" class="warn" ng-click="cancel()">
                                Annuler 
                            </md-button>
                            <md-button ng-if="!isProcessing" ng-disabled="progressionForm.$invalid" class="md-primary" type="submit" ng-click="(progression.isScheduleValidated?updateProgression(progressionForm):saveProgression(progressionForm))">
                                Enregistrer
                            </md-button>
                            <md-button aria-label="loader" ng-if="isProcessing" layout="row" layout-align="center"
                                       style="align-items: center" type="button" class="md-primary" disabled="">
                                <md-progress-circular class="md-accent md-hue-1" md-diameter="15"></md-progress-circular>
                            </md-button>
                        </md-dialog-actions>
                    </form>
           
            
            
            
            
            
            
            
            
          </md-content>
        </md-tab>
    <!--    <md-tab label="Gestion des présences">
          <md-content class="md-padding">
            <h1 class="md-display-2">Tab Two</h1>
        
            
            
        </md-tab>
        <md-tab label="three">
          <md-content class="md-padding">
            <h1 class="md-display-2">Tab Three</h1>
            <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
          </md-content>
        </md-tab>
      </md-tabs> -->
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button   md-autofocus>
        &nbsp;
      </md-button>
      <span flex></span>

    </md-dialog-actions>

</md-dialog>

